# figma-managed npm registry config start
@amzn:registry=https://registry.figma.com/npm/caf63b26-2334-419b-8708-30de0598e9b1/registry/
@make-kits:registry=https://registry.figma.com/npm/caf63b26-2334-419b-8708-30de0598e9b1/registry/
# figma-managed npm registry config end
